<h1>Translators</h1>
<% if @translators.empty? %>
  <h2>There are no translators available at the present time</h2>
<% else %>
  <% @translators.each do |translator| %>
    <h2>Name: <%= translator.user.name %></h2>
    <h2>Languages: <%= translator.languages %></h2>
    <h2>Availability: <% if translator.availability?%>
    〇
    <% else %>
      X
    <% end%>
    </h2>
    <h2>Rate: <%= translator.rates %></h2>
<<<<<<< HEAD
     <%= link_to 'Description', translator_path(translator) %>
   <hr> 
=======
   <hr>
>>>>>>> 88439b1871ae923835d329301eb4e8637c2cc4f6
  <% end %>
<% end %>
