<h1>Translators</h1>

<h1><%= @translator.name %></h1>
<table>
  <tbody>
  <tr>
    <td><%= @translator.languages %></td>
    <td><%= @translator.description %></td>
    <td><%= @translator.rates %></td>
  </tr>
  </tbody>
</table>
