body {
  background-color: #F7F6F3;
}

.notice {
  display: none;
}

.background-img {
  background-image: url(image_path(pexels-armin-rimoldi-5554283));
  background-size: cover;
  background-color: rgba(255,255,255,0.3);
  background-blend-mode: lighten;
}

//container
.container {
  padding: 10px;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  // app name
  .main {
    width: 50%;
    font-size: 20px;

    h1 {
      font-family: Arizonia;
      font-size: 100px;
    }
  }
}

// bookings page
.bookings-container {
  padding-top: 60px;
  padding-left: 10px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .card-pick {
    width: 75vw;
  }
}
