.cards {
  justify-content: center;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 48px;
}

.container-index {
  text-align: center;
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 48px;
}

.cards-index {
  // justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 48px;
}

.card-pick {
  /*fixed*/
  display: flex;
  flex-direction: column;
  padding: 10px;
  /*customizable*/
  // height: 300px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0px 16px rgba(0,0,0,0.3);
  margin: 10px;
}

.card-pick .img {
  /*fixed*/
  width: 100%;
  max-height: 200px;
  min-height: 100px;
  // flex-grow: 1;
  object-fit: contain;
  /*customizable*/
  object-position: 50% 50%;
  border-radius: 4px 4px 0 0;
  margin-bottom: 10px;
}

.card-pick-info {
  /*customizable*/
  padding: 16px;
}

.card-pick:hover {
  /*customizable*/
  transition: 0.2s ease-out;
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

p {
  padding: 5px;
  text-align: center;
}

ul {
  list-style-type: none;
}

.card-link {
  color: black;
}

.card-link:hover{
  color: black;
}